.footer {
    background-color: rgb(192, 187, 187);
    border-radius: 20px 20px 0 0;
 }

 .footer-desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 20px;
    align-items: center;
 }
 .site-title{
   padding: 10px;
   border-radius: 0 20px 0 20px;
 }
 .quick-links {
    height: 230px;
    width: 150px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
 }
 .links:hover{
   transform: scale(1.1);
   color: #ffffff;
 }
 .links{
 text-decoration: none;
 color: rgb(0, 0, 0);
 font-weight: 600;
 cursor: pointer;
 }

 .useful-links {
    height: 230px;
    width: 150px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    cursor: pointer;
  
 }
 .useful-links :hover{
   transform: scale(1.1);
   color: #ffffff;
 }

 .contact {
    height: 230px;
    width: 220px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    text-align: center;
  
 }
 .footer-icon {
    height: 25px;
    margin: 10px;
    margin-top: 40px;
 }
